.jumbotron {
	background-color: #CEF6EC!important;
	} 	
	
.jumbotron h1 {
	font-size: 2.5em!important;
	text-align: center;
	}

body {
		margin-left: 20%;
		margin-right: 20%;
		padding: 10px 10px 10px 10px;
		font-family: sans-serif;
	}
	
img	{
    display: block;
    margin-left: auto;
    margin-right: auto;
	} 	
	
	